body {
    width:  1440px;
    height: 1024px;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.logo > img {
    width: 75px;
    height: 21px;
}
.logo {
    width: 117px;
    height: 33px;
}

.greeting{
    margin: 10px;
    font-size: 40px;
}
.notice{
    margin-bottom: 10px;
}
span {
    margin-left: 5px;
}
.big-img {

}
.big-img > img {
    width: 663px;
    height: 397px;
    margin: 30px;
}
.color-gray{
    color: hsl(0, 0%, 59%);
}
.style-bold{
    font-style: normal;
    font-weight: 900;
}
.notice{
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}
input-box{
    margin-top: 25px;
}

input {

    border-radius:100px;
    color: hsl(223, 87%, 63%);
    border-color: hsl(223, 87%, 63%);
    width: 260px;
    height: 34px;
    
}

button{
    border-radius: 100px;
    border-style: unset;
    background-color: hsl(223, 87%, 63%);
    color: white;
    height : 34px;
    width : 108px;
    box-shadow: 1px 1px 1px 1px gray
    font-size: 12px
}

button:hover{
    background-color: hsl(209, 33%, 12%);
}

.fa-facebook {
 color:hsl(223, 87%, 63%) ;
}

.fa-twitter {
    color:hsl(223, 87%, 63%) ;
   }

   .fa-instagram {
    color:hsl(223, 87%, 63%) ;
   }
   .alertemail {
       color: tomato;
       font-size: 5px;
   }
   #facebook :hover {
       color: black;
   }
  