<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
<link rel="stylesheet" href="../static/style.css">
  <title>Coding Challenge Study! by Frontend Mentor</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap" rel="stylesheet">

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>

  <script src="https://kit.fontawesome.com/5b75d34f0e.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <header class="logo"> <img src="../static/images/logo (1).jpg" alt="logo"></header>
  <main class="container">
  <div class="greeting"><span class="color-gray"> We are launching</span><span class="style-bold">soon!</span></div>
  <div class="notice">Subscribe and get notified</div>
  <form class="input-box"> 
    <input  class='email' type="text" placeholder="이메일을 입력해주세요">
    <button class="btn">Notify Me</button>
    <div class="alertemail"></div>
  </form>
  
    <img src="../static/images/illustration-dashboard.png" alt="illustration-dashboard">
  
  <div class="sns">
   <span> <i class="fa-brands fa-facebook-f fa-2xs"></i></span>
    <span><i class="fa-brands fa-twitter  fa-2xs"></i></span>
   <span> <i class="fa-brands fa-instagram  fa-2xs"></i></span>
  </div>
  <div class="copyright">&copy; Copyright Ping. All rights reserved.</div>
  <footer>
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">minji</a>.
    </p>
  </footer>
</main>
<script src="../static/main.js"></script>
</body>
</html>